{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-white rounded-3 shadow-sm">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold">Bienvenido a la Gestión de Lavandería</h1>
        <p class="col-md-8 fs-4 mx-auto">
            Utiliza el menú de navegación superior para gestionar clientes, empleados y los servicios de tu lavandería de manera eficiente.
        </p>
        <hr class="my-4">
        <p class="lead">
            Aquí podrás llevar un control detallado de cada operación.
        </p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcdLRriI6M7XVvfaPtSX63DzvVI41F6n9Fiw&s" width="400">
    </div>
</div>

{% endblock %}